@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-VariableFont_opsz,wght.ttf") format("ttf");
}

@theme {
  --color-background: #222831;
  --color-primary: #393e46;
  --color-accent: rgb(48, 46, 44);
  --color-text: #dcdcdc;
  --color-secondary: #f2f2f2;
  --color-call-to-action: hsl(223, 83%, 65%);
  --color-call-to-action-hover: hsl(223, 83%, 55%);

  --font-inter: "Inter", sans-serif;

  --shadow-inset-top: inset 0 2px 10px rgba(0, 0, 0, 0.8);
  --shadow-inset-bottom: inset 0 -2px 10px rgba(0, 0, 0, 0.8);
}

body {
  @apply font-inter bg-background text-text mx-auto max-w-480 min-w-92 text-sm xl:text-base;
}

/* BASE */

input {
  @apply bg-secondary rounded px-2 py-0.5 text-black placeholder:font-semibold placeholder:italic;
}

button {
  @apply transform rounded px-3 py-0.5 font-bold text-black uppercase transition-all duration-300 ease-in hover:cursor-pointer;
}

select {
  @apply bg-secondary rounded px-2 py-1 font-semibold text-black hover:cursor-pointer;
}

label {
  @apply flex flex-col gap-1;
}

label p {
  @apply font-bold;
}

/* COMPONENTS */

.base-layout {
  @apply flex h-screen flex-col gap-5 p-1.5;
}

.base-layout > main {
  @apply grow;
}

.base-bg-div {
  @apply bg-primary rounded p-3;
}

.base-btn {
  @apply bg-call-to-action hover:bg-call-to-action-hover;
}

.base-link {
  @apply transform text-sm font-semibold italic underline underline-offset-2;
}

.base-link-primary {
  @apply text-text hover:text-slate-300;
}

.nav-link {
  @apply flex items-center gap-3 rounded-2xl bg-linear-to-r from-amber-700 to-amber-900 px-2 py-1 font-bold uppercase no-underline hover:bg-linear-to-r hover:from-amber-900 hover:to-amber-700;
}

.msg {
  animation: fade-in 0.5s ease-in-out;
}

/* ANIMATIONS */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
