@import "tailwindcss";

@theme {
  --color-background: #222831;
  --color-primary: #393e46;
  --color-text: #dcdcdc;
  --color-secondary: #f2f2f2;
  --color-call-to-action: hsl(26, 100%, 49%);
  --color-call-to-action-hover: hsl(26, 100%, 60%);
}

body {
  @apply bg-background text-text mx-auto max-w-480 min-w-92;
}

/* BASE */

input {
  @apply bg-secondary rounded px-2 py-0.5 text-black placeholder:font-semibold placeholder:italic;
}

button {
  @apply rounded px-3 py-0.5 font-bold text-black uppercase transition-all duration-500 ease-in hover:cursor-pointer;
}

a {
  @apply text-sm italic underline underline-offset-2;
}

/* COMPONENTS */

.base-layout {
  @apply flex h-screen flex-col gap-3 p-1.5;
}

.base-layout > main {
  @apply relative grow;
}

.base-btn {
  @apply bg-call-to-action hover:bg-call-to-action-hover;
}

.base-link {
  @apply text-text hover:text-slate-300;
}

.msg {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
